[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/jagerman/SQLiteCpp.git
[submodule "cmake/session-deps"]
	path = cmake/session-deps
	url = https://github.com/session-foundation/session-deps.git
